@page "/day/1"
@inject HttpClient Http

<h1>AoC 2019 :: Day 1</h1>

<p>Roll on December the 1st!</p>

<p>Waiting for day 1 input...</p>

@code {
    private string input;

    //protected override async Task OnInitializedAsync()
    //{
    //    this.input = await Http.GetStringAsync("https://aocproxy.azurewebsites.net/2019/day/1/input");
    //}    
}
