@page "/"

<h1>Advent of Code 2019</h1>

<p>This year I've chosen to use <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor!</a></p>

<p>I've kept the irratating flickering CRT effect though, sorry.</p>
